save-prefix=~

# The following three lines set this project to use a NPM repository hosted by TRASYS, that
# mirrors the public repository and contains TRASYS-specific artefacts. Read an in-detail
# documentation here: http://livingattrasys.trasys.be/MyKnowledge/cr/KB/d/prinpm/pages/Home.aspx
#
#registry=http://nexus.trasys.gr:8080/nexus/content/groups/npm-grp-trasys/
#always-auth=true
#_auth=dHJhc3lzOnRyYXN5cw==
