$icon-font-path: "./assets/fonts/";

// bower:scss
// endbower
@import "typography";
@import "shell";
@import "home/home";
@import "sample/sample";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
